<div class="container">
  <h2>Welcome to SweetBox</h2>

  <div class="col-md-12">
    <input placeholder="Code" ng-model="barcode" ng-model-options="{ debounce: 1000 }" >

    <span class="some-btns-groupe">
      <button ng-if="product" class="btn btn-success" ng-click="add(product)">Buy</button>
      <button ng-if="product" class="btn btn-primary" ng-click="cancel()">Clear</button>
      <button ng-if="productList.length" class="btn btn-warning" ng-click="clearHistory()">Exit</button>
    </span>
  </div>

  <div ng-if="product" class="current_product col-md-6">
    <h1 >Selected product</h1>
    <h3><b>Product Name:</b> {{product.name}}</h3>
    <h4><b>Price:</b> {{product.price}} (AMD)</h4>
    <h4><b>BarCode - </b>{{product.number}}</h4>
  </div>

  <div ng-if="productList.length" ng-class="{'col-md-offset-6' : !product}" class="col-md-6">
    <h1>Order history</h1>
    <table>
      <thead class="price-row">
        <td>Name</td>
        <td>Price</td>
      </thead>
      <tbody>
        <tr class="price-row" ng-repeat="item in productList track by $index">
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
        </tr>
      </tbody>
    </table>
    <h1> Total {{total()}} AMD</h1>
  </div>
</div>
<div growl></div>
