<div class="container">
  <button class="btn btn-default" ng-click="addProduct()">Add Product</button>

  <div class="text-center">
    <div class="col-md-12">
      <div class="col-md-2">
        Product Number
      </div>

      <div class="col-md-3">
        Product Name
      </div>

      <div class="col-md-2">
        Price(amd)
      </div>

      <div class="col-md-2">
        Count
      </div>

      <div class="col-md-3">
        #
      </div>
    </div>
    <hr>
    <div class="row" ng-repeat="product in products track by $index">
      <div class="col-md-2" ng-if="!product.number">
        <span editable-number="product.number" e-name="name" e-form="editableForm" onbeforesave="checkName($data)" e-required>{{ product.number || 'empty' }}</span>
      </div>

      <div class="col-md-2" ng-if="product.number">
        <span>{{ product.number }}</span>
      </div>

      <form editable-form name="editableForm" onaftersave="updateProduct(product, $index)" shown="inserted == product">
        <div class="col-md-3">
          <span editable-text="product.name" e-name="name" onbeforesave="checkName($data)" e-required>{{ product.name || 'empty' }}</span>
        </div>

        <div class="col-md-2">
          <span editable-number="product.price" e-name="name" onbeforesave="checkName($data)" e-required>{{ product.price || 'empty' }}</span>
        </div>

        <div class="col-md-2">
          <span editable-number="product.count" e-name="name" onbeforesave="checkName($data)" e-required>{{ product.count || 'empty' }}</span>
        </div>

        <div class="col-md-3">
          <div class="buttons">
            <!-- button to show form -->
            <button type="button" class="btn btn-default" ng-click="editableForm.$show($index)" ng-show="!editableForm.$visible">
              Edit
            </button>
            <button class="btn btn-danger" ng-click="removeUser(product, $index)" ng-show="!editableForm.$visible">del</button>
            <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting" ng-click="">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
          </div>
        </div>

        <div class="col-md-12">
          <hr>
        </div>
      </form>
    </div>
  </div>
</div>

<div growl></div>
